<% include partials/header %>
  <h1>Add Customer</h1>
  <% if(errors) { %>
    <ul>
      <% errors.forEach((error) => { %>
        <li style="color:red;">
          <%= error.msg %>
        </li>
      <% }) %>
    </ul>
  <% } %>
  <form method="POST" action='/users/add'>
    <% if(errors.find(err => err.param === 'first_name')) { %>
      <label style="color:red;">First Name</label><br>
    <% } else { %>
      <label>First Name</label><br>
    <% } %>
    <input type="text" name="first_name">
    <br>
    <% if(errors.find(err => err.param === 'last_name')) { %>
      <label style="color:red;">Last Name</label><br>
    <% } else { %>
      <label>Last Name</label><br>
    <% } %>
    <input type="text" name="last_name">
    <br>
    <% if(errors.find(err => err.param === 'email')) { %>
      <label style="color:red;">Email</label><br>
    <% } else { %>
      <label>Email</label><br>
    <% } %>
    <input type="text" name="email">
    <br>
    <input type="submit" value="Submit">
  </form>
  <h1><%= title %></h1>
  <ul>
    <% users.forEach((user) => { %>
      <li>
        <%= user.first_name %>
        <%= user.last_name %>
      </li>
    <% }) %>
  </ul>
<% include partials/footer %>
